.features_content h2 {
    margin-top: 8.5rem;
    text-align: center;
    justify-content: center;
}

.features_content h4 {
    justify-content: center;
    text-align: center;
    padding: 1.775rem 20rem;
    padding-left: 24rem;
}

/*Tabs*/

.tab-nav-container {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    color: var(--main-greyblue);
    margin: 0 19rem;
}

.features_main .tabs ul li {
    padding: 1.2rem 0;
}

/*Active*/
.active {
    border-bottom: 4px solid var(--main-red);
    color: black;
}